<div id="archive">
<% @entries.each do |date, set| %>
  <h3><%= date.strftime("%B %Y") %></h3>
  <p>
    <% set.each do |entry| %>
      <a href="<%= url(:permalink_entry, entry) %>"><%= entry.title %></a> <br/>
    <% end %>
  </p>
<% end %>
</div>
